# Variables d'environnement - remplir selon besoin
DEBUG=True

# Informations de connexion à la base de données
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=db_fastapi_project

# Configuration de sécurité
SECRET_KEY=53562472508180948778780242558345021405382488977357688324727089270673739130320
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
